.woh__single-snowflake,
.woh__single-snowflake .inner {
    animation-iteration-count: infinite;
    animation-play-state: running
}

.woh__single-snowflake {
    color: #fff;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px #000;

    position: fixed;
    top: -10%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
    animation-name: snowflakes-shake;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.woh__single-snowflake .inner {
    animation-name: snowflakes-fall;
    animation-duration: 10s;
    animation-timing-function: linear;
}

.woh__spin {
    animation: spin 2s linear infinite;
}

.woh__single-snowflake:nth-of-type(0) {
    left: 1%;
    animation-delay: 0s;
}

.woh__single-snowflake:nth-of-type(0) .inner {
    animation-delay: 0s;
}

.woh__single-snowflake:first-of-type {
    left: 10%;
    animation-delay: 1s;
}
.woh__single-snowflake:first-of-type .inner,
.woh__single-snowflake:nth-of-type(8) .inner {
    animation-delay: 1s;
}

.woh__single-snowflake:nth-of-type(2) {
    left:20%;
    animation-delay: .5s
}

.woh__single-snowflake:nth-of-type(2) .inner,
.woh__single-snowflake:nth-of-type(6) .inner {
    animation-delay: 6s;
}
.woh__single-snowflake:nth-of-type(3) {
    left: 30%;
    animation-delay: 2s;
}
.woh__single-snowflake:nth-of-type(11) .inner,
.woh__single-snowflake:nth-of-type(3) .inner {
    animation-delay: 4s;
}

.woh__single-snowflake:nth-of-type(4) {
    left: 40%;
    animation-delay: 2s;
}

.woh__single-snowflake:nth-of-type(10) .inner,
.woh__single-snowflake:nth-of-type(4) .inner {
    animation-delay: 2s;
}

.woh__single-snowflake:nth-of-type(5) {
    left:50%;
    animation-delay: 3s;
}

.woh__single-snowflake:nth-of-type(5) .inner {
    animation-delay: 8s;
}

.woh__single-snowflake:nth-of-type(6) {
    left:60%;
    animation-delay: 2s;
}

.woh__single-snowflake:nth-of-type(7) {
    left: 70%;
    animation-delay: 1s;
}

.woh__single-snowflake:nth-of-type(7) .inner {
    animation-delay: 2.5s;
}

.woh__single-snowflake:nth-of-type(8) {
    left:80%;
    animation-delay:0s;
}

.woh__single-snowflake:nth-of-type(9) {
    left:90%;
    animation-delay:1.5s;
}

.woh__single-snowflake:nth-of-type(9) .inner {
    animation-delay: 3s;
}

.woh__single-snowflake:nth-of-type(10) {
    left: 25%;
    animation-delay: 0s;
}

.woh__single-snowflake:nth-of-type(11) {
    left: 65%;
    animation-delay: 2.5s;
}


@keyframes snowflakes-fall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes snowflakes-shake {
    0%,100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(80px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}