.woh__image-gallery {
    padding: 20px;
}

.woh__image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.woh__image-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #4f4848;
    margin: 1rem 0 1rem 0;
}

.woh__bread-loading {
    margin: 4rem;
}

.woh__card-fan-frame {
    display: flex;
}

.woh__caption {
    padding: 0 0.5rem;
    color: white;
}

.woh__card-fan-member {
    transform-origin: bottom center;
    border: 0.75rem solid #ddd;
    background: purple;
    border-radius: 5px;
}

.woh__card-fan-member:after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: 0.6;
    border-radius: inherit;
    box-shadow: 0 0 1em 0.5em red;
    transition: 250ms ease-in-out;
    transition-property: opacity;
}