.woh__order-bread-panel {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h3 {
        text-align: center;
    }
}

.woh__order-bread-buttons {
    display: flex;
    justify-content: space-evenly;

    & button {
        cursor: pointer;
    }
}
