#woh__album-picker {
    background: inherit;
    color: inherit;
    font-family: Georgia, Times, serif;
    font-size: 1rem;
    border: inherit;
}

.woh__album-picker__option {
    background: inherit;
    color: inherit;
    font-family: Georgia, Times, serif;
}
