#woh__album-picker {
    background: inherit;
    color: inherit;
    font-family: Georgia, Times, serif;
    border: inherit;
}

.woh__album-picker__option {
    background: inherit;
    color: inherit;
    font-family: Georgia, Times, serif;
}

#woh__album-picker, .woh_album-picker-placeholder {
    width: 8rem;
}