#woh__album-picker {
    background: white;
    color: black;
    font-family: Georgia, Times, serif;
    border: inherit;
}

.woh__album-picker__option {
    background: white;
    color: black;
    font-family: Georgia, Times, serif;
}

#woh__album-picker, .woh_album-picker-placeholder {
    width: 86px;
}