.woh___settings-page {
    margin-top: 1rem;
}

.woh__color-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 22rem;
}

.woh__color-picker > span {
    width: 4rem;
}

.woh__color-input {
    width: 8rem;
}

.woh__color-picker > div {
    width: 8rem;
}