#tech-page {
    margin: 1rem;
    max-width: 25rem;
}

p, .woh__has-drop-letter {
    text-align: justify;
    font-size: 1.2rem;
}

p:first-letter,
.woh__has-drop-letter:first-letter {
    color: #903;
    float: left;
    font-size: 3.5rem;
    line-height: 2rem;
    padding-top: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.25rem;
}

.woh__tech-page-image-visible {
    float: right;
    margin: 1rem auto 0.75rem 1rem;
}

.woh__tech-page-image {
    width: 100%;
    transform: translateX(50%);
    opacity: 0;
    transition: all 500ms;

}

.woh__tech-page-image.fade-in {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms;
}
